<div class="background">
  <form class="custom-form"  (ngSubmit)="registerencargados()" #encargadosForm="ngForm">
    <h1>Formulario encargados</h1>

    <div  class="form-group">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="EncargadoData.nombre" required   pattern="^[A-Za-z]+$"   #nombreInput="ngModel" [ngClass]="{'is-valid': nombreInput.valid && (nombreInput.dirty || nombreInput.touched), 'is-invalid': nombreInput.invalid && (nombreInput.dirty || nombreInput.touched)}"   >
      <div class="valid-feedback" *ngIf="nombreInput.valid && (nombreInput.dirty || nombreInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="nombreInput.invalid && (nombreInput.dirty || nombreInput.touched)">
        Por favor ingresa un nombre válido.
      </div>
    </div>


    <div class="form-group">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="EncargadoData.apellidos" required  pattern="^[A-Za-z]+$"  #apellidosInput="ngModel" [ngClass]="{'is-valid': apellidosInput.valid && (apellidosInput.dirty || apellidosInput.touched), 'is-invalid': apellidosInput.invalid && (apellidosInput.dirty || apellidosInput.touched)}">
      <div class="valid-feedback" *ngIf="apellidosInput.valid && (apellidosInput.dirty || apellidosInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="apellidosInput.invalid && (apellidosInput.dirty || apellidosInput.touched)">
        Por favor ingresa apellidos válidos.
      </div>
    </div>

    <div class="form-group">
      <label for="foto">Foto</label>
      <input type="" class="form-control" id="foto" name="foto" [(ngModel)]="EncargadoData.foto" required #fotoInput="ngModel" [ngClass]="{'is-valid': fotoInput.valid && (fotoInput.dirty || fotoInput.touched), 'is-invalid': fotoInput.invalid && (fotoInput.dirty || fotoInput.touched)}">
      <div class="valid-feedback" *ngIf="fotoInput.valid && (fotoInput.dirty || fotoInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="fotoInput.invalid && (fotoInput.dirty || fotoInput.touched)">
        Por favor ingresa una foto válida.
      </div>
    </div> 

    <div class="form-group">
      <label for="numero">Número telefonico</label>
      <input type="number" class="form-control" id="numero" name="numero" [(ngModel)]="EncargadoData.numero" required #numeroInput="ngModel" [ngClass]="{'is-valid': numeroInput.valid && (numeroInput.dirty || numeroInput.touched), 'is-invalid': numeroInput.invalid && (numeroInput.dirty || numeroInput.touched)}">
      <div class="valid-feedback" *ngIf="numeroInput.valid && (numeroInput.dirty || numeroInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="numeroInput.invalid && (numeroInput.dirty || numeroInput.touched)">
        Por favor ingrese 10 dígitos.
      </div>
    </div>


  



  

    <!-- <div class="form-group">
      <label for="padreID">Padre</label>
      <input type="number" class="form-control" id="padreID" name="padreID" [(ngModel)]="EncargadoData.padreID" required
        #padreIDInput="ngModel" [ngClass]="{'is-valid': padreIDInput.valid && (padreIDInput.dirty || padreIDInput.touched), 'is-invalid': padreIDInput.invalid && (padreIDInput.dirty || padreIDInput.touched)}">
      <div class="valid-feedback" *ngIf="padreIDInput.valid && (padreIDInput.dirty || padreIDInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="padreIDInput.invalid && (padreIDInput.dirty || padreIDInput.touched)">
        Por favor ingresa un padre válido.
      </div> -->
      <!-- Mostrar mensaje de error si el campo padreID está vacío -->
      <!-- <div class="invalid-feedback" *ngIf="encargadosForm.submitted && !EncargadoData.padreID">
        El campo Padre es obligatorio.
      </div>
    </div> -->

    <button type="submit" class="button" [disabled]="!myForm.valid" (click)="limpiar()">Registrarme</button>
  </form>
</div>
