
<div class="background">
  <body>
    <nav class="navbar">
       <a class="navbar-brand">Ya llegue!</a>
        <ul class="nav-list">
            <li><a routerLink="/registroencargados" href="#">Registar encargados</a></li>
            <li><a routerLink="/progresopadre" href="#">Progreso</a></li>
            <li><a routerLink="/loginpersonal" href="#">Cerrar Sesión</a></li>
        </ul>
    </nav>
  </body>
  
  <br>

  <div class="content">
  <div class="container">
  <h1>Progreso del Niño</h1>

  <div *ngIf="progresoRegistrado">
    <p>Nombre del niño: {{ progresoRegistrado?.nombre }}</p>
    <p>Estatus del alumno {{ obtenerTextoProgreso(progresoRegistrado?.progreso) }}</p>
  </div>

  <div *ngIf="!progresoRegistrado">
    <p>No se ha registrado ningún progreso para el niño.</p>

    
  </div>
</div>
</div>