<header>
<app-header></app-header>
</header>

<div class="background">
  <body>
    <nav class="navbar">
       <a class="navbar-brand">Ya llegue!</a>
        <ul class="nav-list">
            <li><a routerLink="/registroencargados" href="#">Registar encargados</a></li>
            <li><a routerLink="/progresopadre" href="#">Progreso</a></li>
            <li><a routerLink="/loginpersonal" href="#">Cerrar Sesión</a></li>
        </ul>
    </nav>
  </body>
  
  <br>

<div class="content">
<div class="row">
    <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let h of hijos">{{h.nombre}}</li>
    </ul>
    </div>
    <div class="col-6">
        <ul class="list-group">
          <li class="list-group-item">hola</li>
        </ul>
        </div>
</div>

