<div class="card">
    <div class="card__img">
      <!-- Agrega la imagen de fondo aquí -->
      <svg xmlns="http://www.w3.org/2000/svg" width="100%">
          <!-- Agrega aquí el contenido SVG para la imagen de fondo -->
      </svg>
    </div>
    <div class="card__avatar">
      <!-- Agrega el contenido SVG para el avatar aquí -->
      <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
          <!-- Agrega aquí el contenido SVG para el avatar -->
      </svg>
    </div>
    <div class="card__title">{{ currentUserData?.nombre }} {{ currentUserData?.apellidos }}</div>
    <div class="card__subtitle">{{ currentUserData?.puesto }}</div>
    <div class="card__subtitle">{{ currentUserData?.matricula }}</div>
  
  
    </div>