.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(9, 28, 138, 0.767);
  background-color: #27bdb0;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.card__img {
  /* Estilos para la imagen de fondo, puedes añadir un gradient o un patrón SVG */
}

.card__avatar {
  margin-top: -60px;
}

.card__title {
  font-size: 35px;
  font-weight: bold;
  margin: 15px 0;
}

.card__subtitle {
  font-size: 25px;
  color: #726c6c;
  margin-bottom: 20px;
}

.card__wrapper {
  display: flex;
  justify-content: center;
}

.card__btn {
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: transparent;
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card__btn-solid {
  background-color: #007bff;
  color: #ffffff;
}

.card__btn:hover {
  background-color: #007bff;
  color: #ffffff;
}

.card__btn-solid:hover {
  background-color: #0056b3;
}
