<div class="background">
  <form class="custom-form" (ngSubmit)="registerAlumnos()" #myForm="ngForm">
    <h1>Formulario Alumnos</h1>

    <div class="form-group">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="AlumnosData.nombre" required #nombreInput="ngModel" [ngClass]="{'is-valid': nombreInput.valid && (nombreInput.dirty || nombreInput.touched), 'is-invalid': nombreInput.invalid && (nombreInput.dirty || nombreInput.touched)}">
      <div class="valid-feedback" *ngIf="nombreInput.valid && (nombreInput.dirty || nombreInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="nombreInput.invalid && (nombreInput.dirty || nombreInput.touched)">
        Por favor ingresa un nombre válido.
      </div>
    </div>

    <div class="form-group">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="AlumnosData.apellidos" required #apellidosInput="ngModel" [ngClass]="{'is-valid': apellidosInput.valid && (apellidosInput.dirty || apellidosInput.touched), 'is-invalid': apellidosInput.invalid && (apellidosInput.dirty || apellidosInput.touched)}">
      <div class="valid-feedback" *ngIf="apellidosInput.valid && (apellidosInput.dirty || apellidosInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="apellidosInput.invalid && (apellidosInput.dirty || apellidosInput.touched)">
        Por favor ingresa apellidos válidos.
      </div>
    </div>

    <div class="form-group">
      <label for="matricula" class="form-label">Matricula</label>
      <input type="text" class="form-control" id="matricula" name="matricula" [(ngModel)]="AlumnosData.matricula" required #matriculaInput="ngModel" [ngClass]="{'is-valid': matriculaInput.valid && (matriculaInput.dirty || matriculaInput.touched), 'is-invalid': matriculaInput.invalid && (matriculaInput.dirty || matriculaInput.touched)}">
      <div class="valid-feedback" *ngIf="matriculaInput.valid && (matriculaInput.dirty || matriculaInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="matriculaInput.invalid && (matriculaInput.dirty || matriculaInput.touched)">
        Por favor ingresa una matrícula válida.
      </div>
    </div>

    <div class="form-group">
      <label for="grupo" class="form-label">Grupo</label>
      <input type="text" class="form-control" id="grupo" name="grupo" [(ngModel)]="AlumnosData.grupo" required #grupoInput="ngModel" [ngClass]="{'is-valid': grupoInput.valid && (grupoInput.dirty || grupoInput.touched), 'is-invalid': grupoInput.invalid && (grupoInput.dirty || grupoInput.touched)}">
      <div class="valid-feedback" *ngIf="grupoInput.valid && (grupoInput.dirty || grupoInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="grupoInput.invalid && (grupoInput.dirty || grupoInput.touched)">
        Por favor ingresa un grupo válido.
      </div>
    </div>

    <div class="form-group">
      <label for="foto">Foto</label>
      <input type="text" class="form-control" id="foto" name="foto" [(ngModel)]="AlumnosData.foto" required #fotoInput="ngModel" [ngClass]="{'is-valid': fotoInput.valid && (fotoInput.dirty || fotoInput.touched), 'is-invalid': fotoInput.invalid && (fotoInput.dirty || fotoInput.touched)}">
      <div class="valid-feedback" *ngIf="fotoInput.valid && (fotoInput.dirty || fotoInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="fotoInput.invalid && (fotoInput.dirty || fotoInput.touched)">
        Por favor ingresa una foto válida.
      </div>
    </div>

    <div class="form-group">
      <label for="observaciones">Observaciones</label>
      <textarea class="form-control" id="observaciones" name="observaciones" [(ngModel)]="AlumnosData.observaciones" required #observacionesInput="ngModel" [ngClass]="{'is-valid': observacionesInput.valid && (observacionesInput.dirty || observacionesInput.touched), 'is-invalid': observacionesInput.invalid && (observacionesInput.dirty || observacionesInput.touched)}"></textarea>
      <div class="valid-feedback" *ngIf="observacionesInput.valid && (observacionesInput.dirty || observacionesInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="observacionesInput.invalid && (observacionesInput.dirty || observacionesInput.touched)">
        Por favor ingresa una observación válida.
      </div>
    </div>

    <div class="form-group">
      <label for="padreID">Padre</label>
      <input type="number" class="form-control" id="padreID" name="padreID" [(ngModel)]="AlumnosData.padreID" required
        #padreIDInput="ngModel" [ngClass]="{'is-valid': padreIDInput.valid && (padreIDInput.dirty || padreIDInput.touched), 'is-invalid': padreIDInput.invalid && (padreIDInput.dirty || padreIDInput.touched)}">
      <div class="valid-feedback" *ngIf="padreIDInput.valid && (padreIDInput.dirty || padreIDInput.touched)">
        Listo
      </div>
      <div class="invalid-feedback" *ngIf="padreIDInput.invalid && (padreIDInput.dirty || padreIDInput.touched)">
        Por favor ingresa un padre válido.
      </div>
      <!-- Mostrar mensaje de error si el campo padreID está vacío -->
      <div class="invalid-feedback" *ngIf="myForm.submitted && !AlumnosData.padreID">
        El campo Padre es obligatorio.
      </div>
    </div>

    <button type="submit" class="button" [disabled]="!myForm.valid"  (click)="reset()" *ngIf="!AlumnosData.id else elseBlock">Registrarme</button>
    <ng-template #elseBlock>
      <button type="submit" class="button" [disabled]="!myForm.valid"  (click)="update()">Actualizar</button>
    </ng-template>

  </form>
</div>
