<div>
   <form class="custom-form">
    <h1>Iniciar Sesión</h1>
    <h3>Encargado</h3>
    <br />
    <label for="email" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" placeholder="usuario@gmail.com" id="email" name="email"
      formControlName="email" />
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password"
      formControlName="password" />
    <br />
    <button >Iniciar Sesión</button>
  </form>
</div>